{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'home/image/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <title>Nazmus Sakib Sibly</title>
</head>

<body>
    <div class="main">
        <header>
            <p><a href="#intro">Nazmus Sakib Sibly</a></p>
            <span>
                <a href="#education">Education</a> | <a href="#awards">Awards</a> | <a href="#skills">Technical Skills</a> | <a
                    href="#projects">Projects</a> | <a href="">CV</a>
            </span>
            <hr>
        </header>
        <section id="intro">
            <p class="intro">
                <b>Nazmus Sakib Sibly</b>, an undergraduate student of Computer Science and Engineering at <a
                href="https://just.edu.bd/" target="_blank">JUST</a>, is passonate about programming and problem solving. He has a solid
                foundation of understanding of data structures and algorithms. He has participated in several programming
                contests and have worked on small to medium projects on academic courses as a team-player. He is a quick
                learner and always eager to learn new things.
            </p>
        </section>
        <section id="education">
            <h1>Education</h1>
            <hr>
            <p><b>[2022-Present]: </b>Bachelor of Science in Computer Science and Engineering (CSE), JUST</p>
            <p><b>[2018-2020]: </b>Higher Secondary Certificate, Government Science College</p>
            <p><b>[2018]: </b>Secondary School Certificate, Panditsar High School</p>
        </section>
        <section id="awards">
            <h1>Awards</h1>
            <hr>
            <p><b>1. </b>NWU CSE FEST Contest 2023 Award</p>
            <p></p>
            <p><b>2. </b>South Zone Programming Contest 2022 Award</p>
            <p><b>3. </b>KU Inter University Programming Contest 2022 Award</p>
        </section>
        
        <section id="skills">
            <h1>Technical Skills</h1>
            <hr>
            <p>Programming Languages- C/C++, Python, JavaScript, Java</p>
            <p>Backend- Django</p>
            <p>Miscellaneous- HTML, CSS, Git, Linux</p>
            <p>Github: <a href="https://github.com/SakibSibly">SakibSibly</a></p>
            <p>Codeforces: <a href="https://codeforces.com/profile/SakibSibly">SakibSibly</a></p>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            <hr>
            <h2>Desktop Application</h2>
            <p><a href="https://github.com/SakibSibly/Bit-Talker">Bit-Talker: An easy to use desktop chat application</a></p>
            <h2>Web Application</h2>
            <p><a href="https://github.com/SakibSibly/FakeNewsDetection">Fake News Detection: A Chaos Free Life</a></p>
        </section>            
        </div>

</body>
<footer>
    <hr>
    <p style="text-align: center;">Email: <a href="mailto:sibly120@gmail.com">sibly120</a> | LinkedIn: <a href="https://linkedin.com/in/SakibSibly">SakibSibly</a> | Stackoverflow: <a href="https://stackoverflow.com/users/19221835/nazmus-sakib-sibly">nazmus-sakib-sibly</a></p>
</footer>

</html>