* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
    font-family: 'Arial', Roboto, sans-serif;
}

body {
    background-color: whitesmoke;
    font-size: 20px;
}

header {
    text-align: right;
}

header hr {
    margin-top: .5rem;
}

header p a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: 0.5rem 0rem;
}

section {
    padding-bottom: 2rem;
}

hr {
    margin-bottom: 1rem;
}

.intro {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

#projects a {
    display: inline-block;
    margin-bottom: 1.5rem;
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
    font-family: sans-serif, Arial, Roboto;
}