* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
    font-family: 'Arial', Roboto, sans-serif;
}

body {
    background-color: whitesmoke;
    font-size: 20px;
}

header {
    text-align: right;
}

header p a {
    text-decoration: none;
    color: #000;
}

.intro {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
    font-family: sans-serif, Arial, Roboto;
}